<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar>Register Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="register-form">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repeat Password</mat-label>
        <input matInput type="password" placeholder="Repeat Password">
      </mat-form-field>

      <button mat-raised-button type="submit">Register</button>
    </form>
  </mat-card>
</div>
